<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/cliente/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="nombreCliente" maxlength="48" class="form-control" placeholder="nombre" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellidoCliente" maxlength="48" class="form-control" placeholder="apellido">
                        </div>
                        <div class="form-group">
                            <input type="text" name="telefonoCliente" maxlength="48" class="form-control" placeholder="telefono">
                        </div>
                        <div class="form-group">
                            <input type="text" name="cedulaCliente" maxlength="48" class="form-control" placeholder="cedula">
                        </div>
                        <div class="form-group">
                            <input type="text" name="emailCliente" maxlength="64" class="form-control" placeholder="email">
                        </div>
                        <div class="form-group">
                            <input type="text" name="direccionCliente" maxlength="64" class="form-control" placeholder="direccion">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>