<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Welcome {{user.nombrecompleto}}</h3>
                    <h4>{{user.nombreusuario}}</h4>
                    <a href="/tarjetas" class="btn btn-primary m-4">
                        Save your Tarjetas    
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>