<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/emisor/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="nombreEmisor" maxlength="48" class="form-control" placeholder="nombreEmisor" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="ruc" maxlength="48" class="form-control" placeholder="ruc" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="nombreComercial" maxlength="48" class="form-control" placeholder="nombreComercial">
                        </div>
                        <div class="form-group">
                            <input type="text" name="dirMatriz" maxlength="48" class="form-control" placeholder="dirMatriz">
                        </div>
                        <div class="form-group">
                            <input type="text" name="dirEstablecimiento" maxlength="48" class="form-control" placeholder="dirEstablecimiento">
                        </div>
                        <div class="form-group">
                            <input type="text" name="codEstablecimiento" maxlength="64" class="form-control" placeholder="codEstablecimiento">
                        </div>
                        <div class="form-group">
                            <input type="text" name="codPuntoEmision" maxlength="64" class="form-control" placeholder="codPuntoEmision">
                        </div>
                        <div class="form-group">
                            <input type="text" name="contribuyenteEspecial" maxlength="64" class="form-control" placeholder="contribuyenteEspecial">
                        </div>
                        <div class="form-group">
                            <input type="text" name="obligadoLlevarCont" maxlength="64" class="form-control" placeholder="obligadoLlevarCont">
                        </div>
                        <div class="form-group">
                            <input type="text" name="contRegMicro" maxlength="64" class="form-control" placeholder="contRegMicro">
                        </div>
                        <div class="form-group">
                            <input type="text" name="agenteRetencion" maxlength="64" class="form-control" placeholder="agenteRetencion">
                        </div>
                        <div class="form-group">
                            <input type="text" name="logo" maxlength="64" class="form-control" placeholder="logo">
                        </div>
                        <div class="form-group">
                            <input type="text" name="tiempoEsperaAut" maxlength="64" class="form-control" placeholder="tiempoEsperaAut">
                        </div>
                        <div class="form-group">
                            <input type="text" name="tipoAmbiente" maxlength="64" class="form-control" placeholder="tipoAmbiente">
                        </div>
                        <div class="form-group">
                            <input type="text" name="token" maxlength="64" class="form-control" placeholder="token">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>